body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body, input, button {
    font-size: 14px;
    font-family: Arial, sans-serif;
    
}

/* Main menu */
#main-nav {
    height: 5vh;
    padding: 16px;
}

#main-nav a:not(.clean-link) {
    color: #000000;
    padding: 0px 5px 2px 5px;
     text-decoration: none;
     width: 20px;
}

#main-nav a:visited {
    color: #000000;
}

#main-nav a:hover:not(.sign-in-link) {
    color: 	#696969;
    text-decoration: underline;
}

#main-nav a i {
    color: #A9A9A9;
}

#left-nav {
    padding-top: 5px;
    float: left;
}

#right-nav {
    float: right;
    font-size: 12.5px;
}

.clean-btn {
    font-size: 16px;
    color: #222121;
    border: none;
    outline: none;
    background-color: white;
    padding: 8px;
}

.clean-btn:hover {
    height: 34px;
    width: 34px;
    background: #DCDCDC;
    border-radius: 50%;
}

.sign-in {
    width: 95px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: rgb(25, 127, 230);
    color: white;
}

.sign-in:hover {
    background-color: rgb(15, 107, 199);
}

.sign-in-link {
    color: white;
}

#main-nav .sign-in-link:visited {
    color: white;
}

/* Main Content*/
/* Google Logo*/
#page-content {
    position: relative;    
    flex-wrap: wrap;
    height: 75vh;
    max-height: 85vh;
    margin: 0 auto;
}

.search {
    text-align: center;
}

#logo {
    text-align: center;
    padding-top: 16.5vh;
    padding-bottom: 2vh;
}

#logo a i {
    position: absolute;
    font-size: 20px;
    color: #6495ED;
    margin-left: 130px;
    margin-top: 90px;
}

#logo a i:hover {
    color: #4169E1;
}

/* Google Search Box Styling */
.box {
    background-color: white;
    border: 0.25px solid #D3D3D3;
    width: 556px;
    height: 24px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 10px;

}

.box:hover {
    box-shadow: cadetblue;
}

.box i {
    font-size: 14px;
    color: 	#808080;
}

.box i:nth-of-type(1) {
    padding-left: 10px;
}


.box a i {
    font-size: 17px;     
    background:-moz-linear-gradient(top, #6495ED 90%, #FF0000 10%,); 
    background: -webkit-linear-gradient(top,#6495ED 40%, #FF0000 10%, ); 
    background: linear-gradient(to bottom, #6495ED 90%,  #3CB371 10%); 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
    padding-right: 8px;
}

.box > input {
    flex: 1;
    height: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    padding-left: 10px;
}

#page-content img {
    padding: 0px 0px 28px 0px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    width: 540px;
    padding: 5px;
    border-radius: 15px;
    color: solid gray;
    margin: 15px 0px 15px 0px;
}

.search-btn {
    padding: 10px 14px 10px 18px;
    margin: 30px 4px 15px 4px;
    border: none;
    background-color: rgb(250, 246, 246);
    color: rgb(36, 35, 35);
}

.search-btn:hover {
    border: #DCDCDC;
}

input[type="submit"].search-btn:hover {
    border: 1.25px solid #DCDCDC;
    border-radius: 4px;

}

/* Footer */
footer {
    position:absolute;
    bottom: 0;
    width:100%;
    height: 84px;
    clear: both;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    background-color: rgb(250, 246, 246);
}

#footer-nav a {
    color: gray;
    text-decoration: none;
}

.top-footer {
    padding: 15px 26px;
    border-bottom: 1px solid #dadce0;
}

#secondary-nav {
    padding: 15px 20px;
}

#secondary-nav a {
    padding: 0px 8px 0px 10px
}

#secondary-nav a:hover {
    text-decoration: underline;
}

#secondary-one {
    float: left;
}

#secondary-two {
    float: right;
}
